
@font-face {
	font-family: MetaBlack;
	font-weight: bold;
	src: url(https://www.mozilla.com/img/fonts/MetaWebPro-Black.woff) format('woff');
}

@font-face {
	font-family: LeagueGothic;
	src: url('fonts/League_Gothic-webfont.woff') format('woff');
}


html {
	font-family: "Droid Sans", Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
}
	body {
		background: none;
		color: inherit;
	}
	:link {
		color: #0054c9;
		text-decoration: none;
	}


html.dev {
	padding-top: 25px;
	width: 320px;
}
	html.dev #dev-blinders {
		position: fixed;
		left: 320px;
		right: 0;
		top: 0;
		bottom: 0;
		background: #666;
	}
	html.dev #dev-blinders:before,
	html.dev #dev-blinders:after {
		content: '';
		position: absolute;
		left: -320px;
		width: 320px;
		background: rgba(0,0,0, .6);
	}
	html.dev #dev-blinders:before {
		top: 0;
		height: 25px;
	}
	html.dev #dev-blinders:after {
		top: 480px;
		bottom: 0;
		pointer-events: none;
	}


#m-header {
	background: #5d88b5;
	border-bottom: 4px solid #74aae4;
/*
	background: -moz-linear-gradient(top, rgba(255,255,255, .2), rgba(0,0,0, 0) 48px, rgba(0,0,0, .2)),
	            -moz-linear-gradient(bottom, rgba(0,0,0, .25), rgba(0,0,0, 0) 4px, rgba(0,0,0, 0))
				#5d88b5;
*/
}

#m-search {
	position: relative;
	padding: 10px;
}
	#m-search > div {
		position: relative; /* needed for width: 100% */
	}
	#m-search input {
		-moz-box-sizing: border-box;
		width: 100%;
		height: 36px;
		padding: 0 8px 0 36px;
		border: 0;
		background: url(img/search.png) no-repeat 8px center #fff;
		color: #333;
		font-size: 16px;
		line-height: 36px;
		border-radius: 6px;
		box-shadow: 0 2px 2px rgba(0,0,0, .25) inset;
	}
	#m-search input:-moz-placeholder {
		color: #999;
	}
	#m-search-clear {
		position: absolute;
		overflow: hidden;
		right: 0;
		top: 0;
		bottom: 0;
		width: 36px;
		background: url(img/search-close.png) no-repeat center center;
		text-indent: -1000em;
	}
	#m-search #m-search-clear { display: none; }
	#m-search.active #m-search-clear { display: block; }


#m-tabs {
	height: 48px;
	background: -moz-linear-gradient(top, rgba(0,0,0, 0), rgba(0,0,0, .2)),
	            -moz-linear-gradient(bottom, rgba(0,0,0, .5), rgba(0,0,0, 0) 4px, rgba(0,0,0, 0));
}
	#m-tabs ul {
		height: 100%;
	}
	#m-tabs li {
		display: inline;
	}
	#m-tabs a {
		display: block;
		position: relative;
		-moz-box-sizing: border-box;
		overflow: hidden;
		float: left;
		width: 25%;
		height: 100%;
		border-left: 1px solid rgba(0,0,0, .25);
		border-right: 1px solid rgba(255,255,255, .125);
		color: #c6d6e6;
		font-size: 11px;
		text-align: center;
		text-decoration: none;
		
		line-height: 11px;
		padding-top: 29px;
	}
	#m-tabs li:first-child a {
		border-left-color: transparent;
	}
	#m-tabs li:last-child a {
		border-right-color: transparent;
	}
	#m-tabs a:before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		width: 24px;
		height: 24px;
		margin: 2px auto;
		background-image: url(img/tab-icons.png);
		background-repeat: no-repeat;
	}
	#m-tabs a.selected {
		border-right-color: transparent;
		color: #fff;
		background: -moz-linear-gradient(top, #5d88b5, #74aae4);
	}

	#m-tab-feed:before { background-position: 0 0; }
	#m-tab-stats:before { background-position: 0 -24px; }
	#m-tab-trends:before { background-position: 0 -48px; }
	#m-tab-settings:before { background-position: 0 -72px; }
	#m-tab-feed:before { background-position: 0 0; }

	#m-tab-feed.selected:before { background-position: -24px 0; }
	#m-tab-stats.selected:before { background-position: -24px -24px; }
	#m-tab-trends.selected:before { background-position: -24px -48px; }
	#m-tab-settings.selected:before { background-position: -24px -72px; }
	#m-tab-feed.selected:before { background-position: -24px 0; }

#m-filters {
	position: relative;
	padding: 9px 10px;
	padding-right: 36px;
	border-top: 4px solid #74aae4;
	background: #74aae4;
	color: #e3eefa;
	line-height: 18px;
}
	#m-filters strong {
		font-weight: bold;
		color: #fff;
	}
	#m-filter-clear {
		position: absolute;
		overflow: hidden;
		right: 0;
		top: 0;
		bottom: 0;
		width: 36px;
		height: 36px;
		margin: auto 0;
		background: url(img/filter-close.png) no-repeat center center;
		text-indent: -1000em;
	}

#m-filters { display: none; }
#m-filters.active { display: block; }


.page {
	display: none;
}
.page.selected {
	display: block;
}
	.page h2,
	.page .group,
	.page .cell {
		border-bottom: 1px solid #ccc;
	}
	.page .group h2:last-child,
	.page .group .cell:last-child {
		border-bottom: 0;
	}
	.page h2 {
		padding: 6px 10px;
		background: -moz-linear-gradient(top, rgba(255,255,255,.0), rgba(255,255,255,.0)),
		            -moz-linear-gradient(top, rgba(255,255,255,.25), rgba(255,255,255,0)) #74AAE4;
		color: #fff;
		background: -moz-linear-gradient(top, #f0f0f0, #dadada);
		color: #000;
		font-size: 12px;
		font-weight: bold;
	}
	.page .cell {
		position: relative;
		padding: 15px 10px;
		background: #fff;
		font-size: 18px;
		line-height: 18px;
	}
		.page .cell strong {
			font-weight: bold;
		}
		.page .cell .fullsize {
		}
			.page .cell .fullsize:after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
			}
		.page .cell .choice {
			position: absolute;
			right: 10px;
			top: 0;
			bottom: 0;
			height: 1em;
			margin: auto 0;
			padding: 6px 12px 8px;
			border: 1px solid #c9cdd6;
			border-radius: 6px;
			background: -moz-linear-gradient(top, #ffffff, #e8ecf3);
			box-shadow: 0 -1px 1px #c9cdd6 inset;
			font-family: inherit;
			font-size: 18px;
			line-height: 1;
		}
		.page .cell .choice select {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			padding: 0;
			margin: 0;
			border: 0;
			opacity: .000001;
			cursor: pointer;
		}
		.page .expandable {
			display: none;
		}
		.page .expandable.expanded {
			display: block;
		}
		.page .expander {
		}
		.page .expander.expanded {
			display: none;
		}


.pushbutton {
	display: inline-block;
	margin: 0 4px;
	padding: 0 20px;
	border: 1px solid #c9cdd6;
	border-radius: 6px;
	background: -moz-linear-gradient(top, #ffffff, #e8ecf3);
	box-shadow: 0 -1px 1px #c9cdd6 inset;
	color: #333;
	font-size: 16px;
	line-height: 36px;
}
	.pushbutton.disabled {
		background: #fff;
		border-color: #e8ecf3;
		color: #999;
		box-shadow: none;
	}


.stats {
}
	.stats .cell {
	}
		.stats .cell .b {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			background: #edf4fc;
		}
		.stats .cell .s {
			position: relative;
			color: #999;
		}
		.stats .cell .s strong {
			color: #333;
			font-weight: normal;
		}
		.stats .cell .filter,
		.stats .cell .search {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 50px;
			text-indent: -1000em;
		}
		.stats .cell .search:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			width: 30px;
			height: 30px;
			margin: auto;
			background: url(img/stat-search.png) no-repeat 0 0;
		}
		.stats .cell.selected .search:after {
			background-position: -30px 0;
		}


.messages {
}
	.messages .cell {
		min-height: 32px;
		padding: 10px;
		padding-left: 52px;
		font-size: 14px;
	}
	.messages .cell:nth-child(even) {
		background: #f8f8f8;
	}
		.messages .cell:before {
			content: '';
			position: absolute;
			left: 10px;
			top: 10px;
			width: 32px;
			height: 32px;
			background: url(img/smileys.png) no-repeat 0 0;
		}
		.messages .cell.praise:before { background-position: 0px 0; }
		.messages .cell.issue:before { background-position: -40px 0; }
		.messages .cell.idea:before { background-position: -80px 0; }
		.messages .cell p {
			line-height: 17px;
		}
		.messages .cell ul {
			margin-top: 2px;
			color: #999;
			font-size: 11px;
			line-height: 15px;
		}
			.messages .cell li {
				display: inline;
			}
			.messages .cell li:before {
				content: '\2022';
				margin: 0 5px;
			}
			.messages .cell li:first-child:before {
				content: none;
			}
			.messages .cell .time {
				font-weight: bold;
			}
				.messages .cell .time a {
					color: inherit;
				}
				.messages .cell .time a:after {
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
				}
			.messages .cell .domain {
				display: block;
			}
			.messages .cell .domain:before {
				content: none;
			}
	.messages .cell.pager {
		text-align: center;
		padding-left: 10px;
	}
		.messages .cell.pager:before {
			content: none;
		}
		.messages .cell.pager .pushbutton {
			padding: 0 10px;
		}

#m-message-header {
	height: 36px;
	padding: 10px 10px 14px;
	background: -moz-linear-gradient(top, rgba(0,0,0, 0), rgba(0,0,0, .2)),
	            -moz-linear-gradient(bottom, rgba(0,0,0, .5), rgba(0,0,0, 0) 4px, rgba(0,0,0, 0));
}
	#m-message-header a {
		display: inline-block;
		padding: 0 12px;
		border-radius: 6px;
		border: 1px solid rgba(0,0,0, .2);
		background: -moz-linear-gradient(top, rgba(0,0,0, .1), rgba(0,0,0, .2));
		color: #fff;
		font-size: 12px;
		line-height: 34px;
		box-shadow: 0px -1px 0 rgba(0,0,0, .2) inset,
		            0px 1px 0 rgba(255,255,255, .125);
	}

#m-one-message {
}
	#m-one-message .cell {
		padding: 104px 20px 20px;
		text-align: center;
	}
		#m-one-message .cell:before {
			left: 0;
			right: 0;
			top: 20px;
			margin: 0 auto;
			width: 64px;
			height: 64px;
			background-image: url(img/smileys-large.png);
		}
		#m-one-message .cell.praise:before { background-position: 0 0; }
		#m-one-message .cell.issue:before { background-position: -80px 0; }
		#m-one-message .cell.idea:before { background-position: -160px 0; }
		#m-one-message .cell p {
			font-size: 21px;
			line-height: 24px;
		}
		#m-one-message .cell ul {
			margin-top: 10px;
			font-size: 12px;
			line-height: 18px;
		}
	#m-one-message .cell.actions {
		padding: 20px 10px;
	}
		#m-one-message .cell.actions:before {
			content: none;
		}


@media (orientation: landscape) and (min-width: 480px) {

	#m-tabs {
		height: 40px;
	}
		#m-tabs a {
			font-size: 18px;
			line-height: 40px;
			padding: 0;
		}
		#m-tabs a:before {
			display: inline-block;
			position: relative;
			margin-right: 6px;
			line-height: 24px;
			vertical-align: -7px;
		}

}
